body {
  margin: 0;
  font-family: "Architects Daughter", cursive;
  font-family: "Varela Round", sans-serif;
  background: url("https://source.unsplash.com/aLGiPJ4XRO4") center/cover
    no-repeat;
  height: 100vh;
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
