body {
  margin: 0;
  font-family: "Architects Daughter", cursive;
  font-family: "Varela Round", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
